ol {/*cijela tablica se uređuje prema ovim parametrima*/
    border: 2px solid black;
    width: 250px;
    padding: 5px;
    list-style-position: inside;
}

li{/*za svaku redak se posatvlja prema parametrima*/
    padding: 3px 3px 3px 34px;
    margin-bottom: 5px;
}

img{ 
    float:left;
    margin:5px;
    align-self: center;
}

.de{/*postavljanje boje za sve redove koji imaju klasu de, prozirnost crvene boje je 75%*/
    background-color: rgba(255,0,0,0.75);
}

.en{/*postavljanje boje za sve redove koji imaju klasu en, prozirnost zelene boje je 25%*/
    background-color: rgba(0,255,0,0.25);
}

.es{/*postavljanje boje za sve redove koji imaju klasu es, prozirnost plave boje je 25%*/
    background-color: rgba(0,0,255,0.25);
}

a:hover{/*dolaskom miša na tekst, tekst postaje crven, slova budu velika i podrctana*/
    text-decoration-line: underline;
    color: red;
    text-transform: capitalize;   
}

a{/*slova u listi su inače crne boje*/
    text-decoration: none;
    color: black
}