body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Selektori koji se trebaju spariti s pravilima */

/* Pravila koja se moraju spariti sa selektorima */

.card{
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
  height: 5em;
}

.card footer{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
  height: 5em;
}

.card article img{
  max-height: 100%;
  float: right;
  height: 120px;
}

h2, p, .card{ /*margina treba biti 0, vrijedi za sav tekst koji je tipa h2 ili u paragrafu ili u imanu klase ima card*/
  margin: 0px;
}

.male{/*pozicija za cijelu karticu na kojoj se nalazi slika muške osobe*/
  position: absolute;
  left: 100px;
  z-index: 2;
}

.female {/*pozicija za cijelu karticu na kojoj se nalazi slika ženske osobe*/
  position: absolute;
  top: 105px;
  left: 350px;
}

.card article{
  height: 12em;
  background-color: rgba(0,0,0,0.5);
}
 h2{/*sva slova pisana tipom h2 imat će ova obilježja*/
  font-size: 2em;
  line-height: 3em;
  padding-left: 3%;
}
.article p{/*postavljanje boje slova u paragrafu, udaljenost od rubova kartice */
  color: white;
  padding-top: 10px;
  padding-left: 3%;
}
.card footer p{/*u podnožju kartice postavljamo veličinu slova udaljenosti od rubova kartice*/
  font-size: 1.5em;
  line-height: 3em;
  padding-left: 3%;
}